<div class="col-md-12" id="createDocumentWrapper">

  <!-- Document Name -->
  <div class="form-group">
    <label>Document name:</label>
    <input type="text" class="form-control" ng-model="document.documentName" placeholder="*.doc">
  </div>

  <!-- Document Title -->
  <div class="form-group">
    <label>Title:</label>
    <input type="text" class="form-control" ng-model="document.documentTitle">
  </div>

  <!-- Relation Overview Image -->
  <div flow-init="{singleFile:true}"
       flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
       flow-name="images.main"
       flow-files-added="processImage($files[0])"
       class="form-group">
    <label>Relation overview:</label> <br>
    <span class="btn btn-primary" flow-btn>Upload Image</span>
    <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="removeImage($flow)">Cancel</span>
    <br>
    <img ng-show="document.documentRelationImage"  ng-src="{{ document.documentRelationImage || '//:0' }}"/>
  </div>

  <!-- Document Intro -->
  <div class="form-group">
    <label>Intro:</label>
    <textarea class="form-control" rows="5" ng-model="document.documentIntro"></textarea>
  </div>

  <!-- Tables Explanation -->
  <div ng-include="'views/partials/tableCreate.html'"></div>

  <!-- Handy Queries -->
  <div ng-include="'views/partials/queryCreate.html'"></div>

  <button type="submit" class="btn btn-default pull-right" ng-click="createDocument()">Download</button>
</div>