<div class="col-md-12" id="createDocumentWrapper">

  <!-- Document Name -->
  <div class="form-group">
    <label>Document name:</label>
    <input type="text" class="form-control" ng-model="documentName" placeholder="*.doc">
  </div>

  <!-- Document Title -->
  <div class="form-group">
    <label>Title:</label>
    <input type="text" class="form-control" ng-model="documentTitle">
  </div>

  <!-- Relation Overview Image -->
  <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="documentRelationImage" class="form-group">
    <label>Relation overview:</label> <br>
    <span class="btn btn-primary" flow-btn>Upload Image</span>
    <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">Cancel</span>
    <table>
      <tr ng-repeat="image in documentRelationImage.files">
        <td><img flow-img="image"/></td>
      </tr>
    </table>
  </div>

  <!-- Document Intro -->
  <div class="form-group">
    <label>Intro:</label>
    <textarea class="form-control" rows="5" ng-model="documentIntro"></textarea>
  </div>

  <!-- Tables Explanation -->
  <div ng-include="'views/partials/tableCreate.html'"></div>

  <!-- Handy Queries -->
  <div ng-include="'views/partials/queryCreate.html'"></div>

  <button type="submit" class="btn btn-default" ng-click="createDocument()">Submit</button>
</div>